body{
    display: flex;
    justify-content:  center;
}

.container{
    width: 275px;
    height: 400px;
    background-color: whitesmoke;
}
#phone{
    width: 100%px;
    padding: auto;
    display: flex;
    align-items: end;
}
.boxa{
    width: 275px;
    height: 400px;
}
.boxb{
    width: 100%;
    height: 90px;
    background-color: green;
}
.boxc{
    width: 100%;
    height: 90px;
    background-color: red;
}
.boxd{
    width: 275px;
    height: 90px;
    background-color: greenyellow;
}